{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/jsx-runtime",
        "plugin:react/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "simple-import-sort",
        "unused-imports",
        "sort-keys-fix"
    ],
    "root": true,
    "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/semi": [
            "error"
        ],
        "curly": "error",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": "warn",
        "no-console": "off",
        "no-new": "error",
        "prefer-const": "error",
        "quotes": [
            "error",
            "double"
        ],
        "react/display-name": [
            "off"
        ],
        "react/jsx-closing-bracket-location": [
            "error",
            "after-props"
        ],
        "react/jsx-closing-tag-location": "error",
        "react/jsx-curly-spacing": [
            "error",
            "never"
        ],
        "react/jsx-first-prop-new-line": [
            "error",
            "always"
        ],
        "react/jsx-max-props-per-line": [
            "error",
            {
                "maximum": 1,
                "when": "multiline"
            }
        ],
        "react/jsx-sort-props": [
            "error",
            {
                "reservedFirst": [
                    "key"
                ]
            }
        ],
        "react/jsx-tag-spacing": [
            "error",
            {
                "beforeSelfClosing": "always"
            }
        ],
        "react/prefer-stateless-function": [
            "error"
        ],
        "react/react-in-jsx-scope": "off",
        "semi": "off",
        "simple-import-sort/imports": "error",
        "sort-keys": [
            "error",
            "asc",
            {
                "caseSensitive": true,
                "minKeys": 2,
                "natural": true
            }
        ],
        "sort-keys-fix/sort-keys-fix": "error",
        "strict": [
            "error",
            "global"
        ],
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
            "error",
            {
                "args": "after-used",
                "argsIgnorePattern": "^_",
                "vars": "all",
                "varsIgnorePattern": "^_"
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
